
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">
      Sistema Ventas
    </a>
    {{#if user}}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Nueva Venta</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
          Almacén
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/stock/all">Ver Stock</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/stock/add">Añadir Productos</a>
          </div>
        </li>
        {{#if user.is_root}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
          Administrador
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/admin/nuevo_empleado">Añadir Empleado</a>
            <a class="dropdown-item" href="/admin/empleados">Administrar Empleados</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/admin/tienda">Configuración Tienda</a>
          </div>
        </li>
        {{/if}}
        <li class="nav-item">
          <a class="nav-link" href="/profile">Perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Desconectar</a>
        </li> 
      </ul>
    </div>
    {{/if}}
  </div>
</nav>